.stat
  .container
    table
      tr
        th Всего зарегестирированно:
        td= users.length
      tr
        td - пассажиров
        td= passengers.length
      tr
        td - водителей
        td= drivers.length
      tr
        th Совершено поездок:
        td= trip.length
      tr
        th Активных заявок на поездку:
        td= activTrip.length